
#top-10-gecko-code-contents {
	font-family: Courier, monospace;
	font-size: 10pt;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.top-10-gecko-code-save-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.top-10-gecko-code-save-modal-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
