/*@font-face {
	font-family: "Inter";
	src: local("Inter"), url("../fonts/inter/Inter-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("../fonts/open_sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), url("../fonts/open_sans/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-stretch: semi-condensed;
}*/

/*
@font-face {
	font-family: "Inter";
	src: local("Inter"), url("./roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}*/