/*BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/


body {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: "Arial", sans-serif;*/
}

label {
	font-size: 11pt;
}

code {
	font-family: "Courier New", monospace;
}

input[type="text"] {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

select {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

legend {
	font-size: 11pt;
	font-weight: 500;
}

#ending-delay__in-frames {
	font-size: 11pt;
}

.title-header {
	font-size: 14pt;
	font-weight: bold;
}
	
.auto-tt-rec-notes {
	font-size: 11pt;
}

.auto-tt-rec-notes-first-half {
	margin-block-end: 0em;
}

.troubleshooting-header {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}	

.auto-tt-rec-troubleshooting {
	margin-block-start: 0em;
}

#iso-filename {
	width: 30em;
}

/*
#chadsoft-ghost-page {
	width: 45em;
}
*/
#output-video-filename {
	width: 30em;
}


.option-label {
	font-weight: bold;
}

.error-message__text-contents {
	font-size: 11pt;
	font-weight: 400;
	background-color: yellow;
}

.error-message__text-contents__margin-block-display.error-message__text-contents--negative-top-margin {
	margin-top: -0.9em;
}

.error-message__text-contents__margin-block-display {
	display: block;
	margin-top: 0px;
	margin-bottom: 0.75em;
	width: fit-content;
}

.error-message__text-contents__no-margin-block-display {
	display: inline;
}

.form-input-notes {
	font-size: 11pt;
	margin-top: 0px;
	margin-bottom: 1em;
	font-style: italic;
}

.form-input-notes--start-label {
	font-size: 11pt;
	font-style: italic;
}

.form-input-notes__normal {
	font-style: normal;
}

.markdown-inline-code {
	font-size: 11pt;
	background-color: whitesmoke;
}
