
.like-input-group{
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 2px;
  column-gap: 5px;
  width: fit-content;
}

/* width: 185px; */
/* max width: "Ignore missing auto-add files: " at 192.04px */

.start-label {
  width: 210px;
	text-align: right;
}

.start-label-contents {
  width: fit-content;
}

.grid-contents {
	display: contents;
}

.grid-sub-contents {
  display: contents;
}

@media (max-width: 640px) {
  .like-input-group {
    display: block;
  }

  .grid-contents {
    display: flex;
    flex-flow: row wrap;
  }

  .grid-sub-contents {
    display: contents;
  }

  .start-label {
    text-align: left;
    padding-right: 5px;
    width: fit-content;
  }

  .grid-sub-contents > .start-label {
    display: inline;
  }

  .grid-sub-contents > .start-label-contents {
    display: inline;
  }

  .grid-sub-contents .error-message__text-contents {
    display: inline;
  }

  .start-label-contents {

  }
}

.empty-grid-row-padding {
  padding-top: 1em;
}
