
.like-input-group {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 2px;
  column-gap: 5px;
  width: fit-content;
}

.start-label {
  width: 243px;
	text-align: right;
}

.timeline-specific-presentation-settings .start-label  {
  width: 128px;
}

.start-label-contents {
  width: fit-content;
}

.grid-contents {
	display: contents;
}

.grid-sub-contents {
  display: contents;
}

@media (max-width: 640px) {
  .like-input-group {
    display: block;
  }

  .grid-contents {
    display: flex;
    flex-flow: row wrap;
  }

  .start-label {
    text-align: left;
    padding-right: 5px;
    width: fit-content;
  }

  .start-label-contents {

  }
}

.empty-grid-row-padding {
  padding-top: 1em;
}
