
.like-input-group {
	display: grid;
	grid-template-columns: auto 1fr;
  grid-template-rows: auto;
	row-gap: 2px;
  column-gap: 5px;
}

.start-label {
	text-align: right;
}

.start-label-contents {

}
/*
.start-input {
  grid-column-start: 1;
  grid-column-end: 2;
}
*/

@media (max-width: 0px) {
  .like-input-group {
    grid-template-columns: 1fr;
  }

  .start-label {
    text-align: left;
  }
}

.grid-contents {
	display: contents;
}
