/* https://www.chadsoft.co.uk/time-trials/rkgd/CC/CC/CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC.html */
#chadsoft-ghost-page, #chadsoft-comparison-ghost-page {
  max-width: 47em;
  width: 100%;
}

/* https://www.chadsoft.co.uk/time-trials/leaderboard/0C/CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC/06.html */
/* actually should be 53em but want to stay consistent with ghost-page widths */
#top-10-chadsoft {
  max-width: 47em;
  width: 100%;
}

.file-input-container {
  display: flex;
  flex-flow: row wrap;
  font-size: 10pt;
}

.file-input-container--main-ghost-filename,
.file-input-container--comparison-ghost-filename,
.file-input-container--szs-filename,
.file-input-container--music-filename,
.file-input-container--top-10-gecko-code-filename,
.file-input-container--extra-gecko-codes-filename,
.file-input-container--extra-hq-textures-folder,
.file-input-container--output-video-filename {
  max-width: 47em;
}

/* same size as chadsoft-ghost-page and chadsoft-comparison-ghost-page */
#main-ghost-filename,
#comparison-ghost-filename,
#szs-filename,
#music-filename,
#top-10-gecko-code-filename,
#extra-gecko-codes-filename,
#extra-hq-textures-folder,
#output-video-filename {
  flex: 1 0 fit-content;
}

#top-10-highlight {
  width: 5em;
}

/* someone pls beat this bad time */
#mk-channel-ghost-description {
  max-width: 15em;
  width: 100%;
}

/* North America */
#top-10-location-region, #top-10-location-regional-location, #top-10-location-country-location {
  min-width: 8.5em;
}

/* Bowser's Termination Station */
#track-name {
  max-width: 14em;
  width: 100%;
}

/* 777.7 */
#game-volume-numberinput, #music-volume-numberinput {
  width: 4.5em;
}

/* 9999 */
#ending-delay {
  width: 4em;
}

/* Video recorded by https://bit.ly/AutoTTRecorderGUI */
#ending-message {
  max-width: 24em;
  width: 100%;
}

/* libvpx-vp9 */
#video-codec {
  width: 86px;
}

/* webm */
#output-video-file-format {
  width: 60px;
}

/* 45 */
#crf-value {
  width: 5em;
}

/* 524288000 */
#encode-size-displayed {
  max-width: 8em;
  width: 100%;
}

#audio-bitrate-displayed {
  max-width: 6.5em;
  width: 100%;
}

#pixel-format {
  max-width: 6.5em;
  width: 100%;
}

/* 3840 */
#output-width-custom {
  max-width: 5em;
  width: 100%;
}

/* 168h34m56s */
#chadsoft-cache-expiry {
  max-width: 6.5em;
  width: 100%;
}

/* WonderWonderWonderWonderWonderWonderWWWW */
/* actually goes a bit over */
#top-10-title {
  max-width: 24em;
  width: 100%;
}

/* arbitrarily chosen to be same length as chadsoft-ghost-page/top-10-chadsoft/etc. */
#top-10-censors {
  max-width: 47em;
  width: 100%;
}
