/* https://stackoverflow.com/questions/70758326/css-display-percent-sign-after-value-inside-input */
/*.percent-input {
  border: 2px solid #ccc;
}

.percent-input input {
  border: none;
  padding: 0px;
  outline: none;
}*/
