
.title-header {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-weight: bold;
}
	
.auto-tt-rec-notes {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

.auto-tt-rec-notes-first-half {
	margin-block-end: 0em;
}

.troubleshooting-header {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}	

.auto-tt-rec-troubleshooting {
	margin-block-start: 0em;
}

#iso-filename {
	width: 30em;
}

#chadsoft-ghost-page {
	width: 45em;
}

#output-video-filename {
	width: 30em;
}

.option-label {
	font-weight: bold;
}

.fieldset-top {
  position: relative;
  /*padding: 20px;*/
   /* padding-bottom: 30px; Adjust based on your legend height */
}

.fieldset-nontop {
  position: relative;
  top: -10px;
  margin-bottom: -10px;
  /*padding: 20px;*/
  /*margin-top: -30px;  Adjust based on your legend height */
}

.fieldset-nontop > legend {
  background: white;
}
