
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.title-header {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-weight: bold;
}
	
.auto-tt-rec-notes {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

.auto-tt-rec-notes-first-half {
	margin-block-end: 0em;
}

.troubleshooting-header {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}	

.auto-tt-rec-troubleshooting {
	margin-block-start: 0em;
}

#iso-filename {
	width: 30em;
}

#chadsoft-ghost-page {
	width: 45em;
}

#output-video-filename {
	width: 30em;
}

.option-label {
	font-weight: bold;
}

.start-label {
	width: inherit;
	max-width: 100%;
}

.start-label-div {
	flex: 0 0 16.6667%;
	min-width: fit-content;
	max-width: 33.3333%;
	text-align: right;
}


.start-label-contents {
	flex: 0 0 66.6667%;
	max-width: 66.6667%;
}

.like-input-group {
	display: flex;
	flex-flow: row wrap;
}
/*
.fieldset-or {
	width: fit-content;
}
.fieldset-or label {
}*/
