
.title-header {
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-weight: bold;
}
	
.auto-tt-rec-notes {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

.auto-tt-rec-notes-first-half {
	margin-block-end: 0em;
}

.troubleshooting-header {
	margin-block-start: 0.25em;
	margin-block-end: 0.25em;
}	

.auto-tt-rec-troubleshooting {
	margin-block-start: 0em;
}

#iso-filename {
	width: 30em;
}

#chadsoft-ghost-page {
	width: 45em;
}

#output-video-filename {
	width: 30em;
}

.option-label {
	font-weight: bold;
}

.start-label {
	
}

.start-label-div {
	width: 200px;
	text-align: right;	

	/*flex: 1 1 0;
	text-align: right;*/
}


.start-label-contents {
	flex: 1 1 0;
}

.like-input-group {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}
/*
.fieldset-or {
	width: fit-content;
}
.fieldset-or label {
}*/
